.about-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.about-container .contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container img, .contacts-container {
    flex-basis: 50%;
}

.main {
    padding: 2%;
}